.main {
    display: fixed;
}

header{
    height: 50px;
    background-color: #2d89e6;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
    color: aliceblue;
}

.Main-contain {

}

.add-members {
    border-radius: 25px;
    border: 2px solid #e5e5e5;
    padding: 40px;
    margin-left: 60px;
    margin-top: 30px;
    width: 250px;
    height: 470px; 
}

.add-members form {
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    }

h2 {
    text-align: center;
    margin-top: 0px;
}

form input[type="text"] {
    width: 100%;
    border: 2px solid #e5e5e5; 
    margin: 5px;
    padding: 10px;
}

textarea {
    resize: none;
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    height: 180px;
    border: 2px solid #e5e5e5; 
    margin: 5px;
    padding: 10px;
}

select {
    width: 100%;
    border: 2px solid #e5e5e5;
    margin: 5px;
    padding: 10px;
}

input[type="button"] {
    width: 100%;
    border-radius: 25px 25px 0 0;
    border: 2px solid #e5e5e5;
    margin-top: 5px;
    margin-right: 9px;
    margin-left: 0px;
    padding: 12px;
}

/*
.add-form {
    display: flex;
    background-color: royalblue;
}

.add-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}*/